* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
}
a {
    color: white;
}
.main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.main-nav .logo {
    font-size: 24px;
    font-weight: 700;
}
.main-nav ul {
    display: flex;
}
.main-nav ul li {
    margin-left: 20px;
}
.main-nav ul li a {
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
}
.main-nav ul li:hover a, .main-nav ul li .active a {
    color: aqua;
}
.main-sec img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-top: 80px;
    margin-right: 40px;
    transition: 5s;
    box-shadow: 0 0 10px aqua;
}
.main-sec {
    margin-top: 100px;
    display: flex;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
.section-title  {
    color: aliceblue;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
} 
.My-portfolio  , .food-website {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 33.3%;
    margin-top: 70px ;
    margin-left: 50px;

}
.Bookstore {
    background-color:lightblue;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    width: 33.3%;
    margin-top: 70px ;
    margin-left: 50px;

}
 .cake-website {
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    width: 33.3%;
    justify-content: center;
    margin-top: 70px ;
    margin-left: 50px;

 } 
.My-portfolio h3 ,  .Bookstore h3 , .cake-website  h3 , .food-website h3 {
    padding: 20px 0 20px 0;
}
.My-portfolio p , .Bookstore p , .cake-website p , .food-website p {
    padding:0 5px 5px 15px;
    font-size: 12px;
}
.My-portfolio img ,  .Bookstore img  , .food-website img  , .cake-website img {
    width: 100%;
} 
.My-portfolio a ,  .Bookstore a , .cake-website  a , .food-website a {
    color:white;
    padding: 10px;
    background-color:black;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 8px;
}
.My-portfolio a:hover ,  .Bookstore a:hover , .cake-website  a:hover , .food-website a:hover {
    color: black;
    background-color: white;
} 
.second-article , .first-article {
    display: flex;
    justify-content: space-around;
}

